learn-webservices-jaxrpc-stubs/src/main/resources/META-INF/services/aircraft.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:aircraft="https://learnjaxrpc.github.io/learn/webservice/rpc/aircraft/1.0.0"
	targetNamespace="https://learnjaxrpc.github.io/learn/webservice/rpc/aircraft/1.0.0"
	elementFormDefault="qualified" attributeFormDefault="unqualified"
	version="1.0.0">

	<xsd:element name="Manufacturer" type="aircraft:ManufacturerType"/>
	
	<xsd:element name="Aircraft" type="aircraft:AircraftType"/>
	
	<xsd:complexType name="ManufacturerType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="founded" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="headquarters" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AircraftType">
		<xsd:sequence>
			<xsd:element name="manufacturer" type="aircraft:ManufacturerType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="designation" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="nickname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="firstFlight" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="produced" type="xsd:int" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>